<div id="home">
  <mat-card class="employee-card">
    <mat-card-title>
      Info
    </mat-card-title>
    <mat-card-content>
      <div>
        <a mat-raised-button href="https://github.com/fither" target="_blank">
          Onur HAMARAT
        </a>
      </div>
      <div>
        <a mat-raised-button href="tel:+905325496987">
          +90 (532) 549 69 87
        </a>
      </div>
      <div>
        <a mat-raised-button href="https://github.com/fither/Bitlo" target="_blank">
          Project's Github Link
        </a>
      </div>
      <div>
        <a mat-raised-button href="https://admiring-austin-56261d.netlify.app/" target="_blank">
          Project's Netlify Link
        </a>
      </div>
      <span>

      </span>
    </mat-card-content>
  </mat-card>
</div>
