<div id="header">
  <div class="logo">
    <a routerLink="/">
      <img src="../../assets/images/bitlo_logo_white_@2x.png" alt="Logo">
    </a>
  </div>
  <div class="account">
    <div *ngIf="!_authService.isLogged">
      <a routerLink="/login">
        Login
      </a>
    </div>
    <div *ngIf="_authService.isLogged">
      <a routerLink="/profile">
        Profil
      </a>
      <a routerLink="/markets">
        Marketler
      </a>
      <a (click)="logout()">
        Logout
      </a>
    </div>
  </div>
</div>
